src/it/xjc-multiple-executions/src/main/xsd/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="AType">
    <xsd:sequence>
      <xsd:element name="A1"   type="xsd:string"/>
      <xsd:element name="A2" type="xsd:string"/>
      <xsd:element name="A3"    type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="a" type="AType"/>

</xsd:schema>
