src/it/xjc-multiple-executions/src/main/xsd/b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="BType">
    <xsd:sequence>
      <xsd:element name="B1"   type="xsd:string"/>
      <xsd:element name="B2" type="xsd:string"/>
      <xsd:element name="B3"    type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="b" type="BType"/>

</xsd:schema>
