src/it/xjc-multiple-xsd-specified/src/main/xsd/c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="CType">
    <xsd:sequence>
      <xsd:element name="C1"   type="xsd:string"/>
      <xsd:element name="C2" type="xsd:string"/>
      <xsd:element name="C3"    type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="c" type="CType"/>

</xsd:schema>