src/it/xjc-multiple-xsd-specified/src/main/xsd/d.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="DType">
    <xsd:sequence>
      <xsd:element name="D1"   type="xsd:string"/>
      <xsd:element name="D2" type="xsd:string"/>
      <xsd:element name="D3"    type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="d" type="DType"/>

</xsd:schema>