src/it/xjc-jaxb4-without-episode/src/main/xsd/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/myschema"
           xmlns:tns="http://example.com/myschema"
           elementFormDefault="qualified">
    <xs:element name="person" type="tns:PersonType"/>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
