src/it/mjaxb-37/src/main/xsd/address.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Name"   type="xsd:string"/>
      <xsd:element name="Line1" type="xsd:string"/>
      <xsd:element name="Line2" type="xsd:string"/>
      <xsd:element name="City"   type="xsd:string"/>
      <xsd:element name="State"  type="xsd:string"/>
      <xsd:element name="ZipCode"    type="xsd:decimal"/>
      <xsd:element name="primary"    type="xsd:boolean"/>
      <xsd:element name="expensive"    type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="address" type="AddressType"/>

</xsd:schema>