src/test/resources/testschemas/address4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="AddressType4">
    <xsd:sequence>
      <xsd:element name="räksmörgås" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="address4" type="AddressType4"/>

</xsd:schema>
