src/it/xjc-without-episode/src/main/xsd/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/myschema"
           xmlns:tns="http://example.com/myschema"
           elementFormDefault="qualified">
    <xs:element name="address" type="tns:AddressType"/>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="zipCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
