src/it/xjc-toString/src/main/xsd/person.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="PersonType">
    <xsd:sequence>
      <xsd:element name="FirstName" type="xsd:string"/>
      <xsd:element name="LastName" type="xsd:string"/>
      <xsd:element name="Age" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="person" type="PersonType"/>

</xsd:schema>
